body {
  background-color: rgb(250, 247, 237);
}
h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 50px;
  font-weight: 100;
  text-align: center;
}
h2 {
  text-decoration: navy;
  text-decoration: underline;
}

.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.align-center {
  text-align: center;
}
.menu-items {
  display: inline-block;
  padding: 15px;
  letter-spacing: 2px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.text-upper {
  text-transform: uppercase;
}
.decoration-items {
  text-decoration: underline;
  color: rgba(0, 0, 0, 0.74);
}
.color-orange {
  color: orange;
}
p {
  line-height: 1.7;
  font-size: 20px;
  font-weight: lighter;
  color: rgba(0, 0, 0, 0.651);
}
.special-text {
  font-style: italic;
}
.stag-divider--strong {
  height: 4px;
  border: 0ch;
  background: black;
  margin: 2em 0;
}

